<div class="h-100 footer p-5">
    <div class="row p-5 gap-lg-0 gap-sm-2">
        <div class="col-lg-4 col-sm-12 footer-col">
            <h5 class="head-title">About</h5>
            <div class="grid">
                <a href="#" class="link">History</a>
                <a href="#" class="link">Our Team</a>
                <a href="#" class="link">Brand Guidelines</a>
                <a href="#" class="link">Terms & Condition</a>
                <a href="#" class="link">Privacy Policy</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 footer-col">
            <h5 class="head-title">Services</h5>
            <div class="grid">
                <a href="#" class="link">How to Order</a>
                <a href="#" class="link">Our Product</a>
                <a href="#" class="link">Order Status</a>
                <a href="#" class="link">Promo</a>
                <a href="#" class="link">Payment Method</a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 text-right footer-col">
            <h5 class="head-title">Title Here</h5>
            <p class="custom-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <form class="form-inline d-flex my-2 my-lg-0 text-right footer-form">
                <input
                  class="form-control mr-sm-2 search-control text-white"
                  type="text"
                />
                <button
                  class="btn btn-outline-success my-2 my-sm-0 blue-btn search-btn"
                  type="submit"
                >
                  <i class="fab fa-telegram"></i>
                </button>
              </form>
              <img src="../../../../assets/socialmediabn.png" class="mt-3">
        </div>
        <div class="col-12 text-center">
            <p class="copyright">Developed by Jesus Salcedo.</p>
    </div>
</div>
