<div class="h-100 bg-main p-5">
    <div class="row p-lg-5">
        <div class="col-lg-8">
            <div class="info text-left">
                <h1 class="title">First I Wanted to be a Veterinarian</h1>
                <p class="custom-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, omnis sed. Quae at provident sunt expedita ad nulla asperiores, minima numquam, praesentium molestias nobis non dolores quaerat, recusandae velit consequatur?</p>
                <div class="btn-container">
                    <button class="blue-btn basic-btn">Contact Us</button>
                    <button class="light-btn basic-btn m-4">Our Service</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="../../../../assets/dog.png" class="h-sm-10" alt="main-dog" id="main-dog">
        </div>
    </div>
</div>